body {
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    color: #08376B;
    margin: 0;
    padding: 30px;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Tenor Sans', sans-serif;
    color: #08376B;
    margin-bottom: 20px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

#charts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.chart-container {
    flex: 1 1 100px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#network-container,
#connections-container {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px;
}

#network-table,
#connections-table {
    width: 100%;
    border-collapse: collapse;
}

#network-table th,
#network-table td,
#connections-table th,
#connections-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #E0E0E0;
}

#network-table th {
    background-color: #F5F5F5;
}

#cpu-chart,
#memory-chart,
#disk-chart,

.custom-select {
    width: 200px;
    padding: 10px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

#network-table th[data-sort] {
    cursor: pointer;
}

#network-table th.sorted-asc::after {
    content: ' ▲';
}

#network-table th.sorted-desc::after {
    content: ' ▼';
}

.custom-button {
    background-color: #35C0ED;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #1E90FF;
}

.fa-sort {
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.fa-sort:hover {
    transform: rotate(180deg);
}

.search-container {
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.search-container .search-button {
    padding: 8px 12px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.search-container .search-button i {
    margin-right: 5px;
}

.connections-table-container {
    max-height: 400px;
    overflow-y: auto;
}

#connections-table {
    width: 100%;
}

.network-table-container {
    max-height: 400px;
    overflow-y: auto;
}

#network-table {
    width: 100%;
}
